.ipynb_checkpoints

# PDFS
.pdf

#ipynb checkpoints
.ipynb_checkpoints

#amazon cred
amazon_credentials.json
mongodb_credentials.json

#data

*.db
*.bz2
*old_data/
*.csv
!final_annotation_set.csv

#logs
*.log

#git backup from cleopatra repo before transfer
.gitbackup/*

#other
.vscode/*
*/__pycache__/*
*test.html
